<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pamu_nagarjuna.meetingroom"
          android:versionCode="1"
          android:versionName="1.0.0">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-sdk
            android:minSdkVersion="16"
            android:targetSdkVersion="21"/>

    <application
            android:icon="@drawable/ic_launcher"
            android:label="Meeting Room"
            android:theme="@style/AppTheme">

        <activity
                android:name=".ui.main.MainActivity"
                android:label="Meeting Room"
                android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MeetingRoomPrefs"></activity>
        <service android:name=".ui.service.MeetingRoomService"></service>
        <receiver android:name=".ui.MeetingRoomReceiver"></receiver>
    </application>

</manifest>